.nvd3chart {
	height:300px;
	width: 300px;

}

svg {
	height: 600px;
	width: 100%;
}

p .tooltip {
	font-size: 10px;
}

#chordchart svg {
	height: 2000px;
}

.chord path {
  fill-opacity: .67;
  stroke: #000;
  stroke-width: .5px;
}


# force graph
.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}